<div class="reserved">
    <p>Copyright © 2024 Team DevBrigades</p>
</div>

<style>
    .reserved {
        color: white;
        text-align: center;
        padding: 10px;
    }

    @media only screen and (max-width: 768px) {
        .reserved {
            margin-top: 50px;
            padding: 0;
        }
    }
</style>