<footer>
    <div class="footer-item footer-left">
        <h1>JourneyEase</h1>
    </div>
    <div class="footer-item footer-middle">
        <div>
            <a href="faq">FAQ</a>
            <a href="#">Blog</a>
            <a href="#">Privacy</a>
        </div>
        <div>
            <a href="#">Services</a>
            <a href="#">Careers</a>
            <a href="#">Contact</a>
        </div>
        <div>
            <a href="#">About Us</a>
            <a href="#">Testimonials</a>
            <a href="#">Support</a>
        </div>
    </div>
    <div class="footer-item footer-right">
        <h3>Follow us</h3>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
</footer>
<div class="reserved">
    <p>All right Reserved by Team Dev Bridges</p>
</div>