<footer>
    <div class="footer-left">
        <a href="#"><img src="/assets/logo-footer.png" alt="logo"></a>
        <h1><b>JourneyEase</b></h1>
    </div>
    <div class="footer-middle">
        <div>
            <a href="#">Home</a>
            <a href="/about">About</a>
            <a href="/blog">Blog</a>
        </div>
        <div>
            <a href="#">Team</a>
            <a href="#">Contact</a>
            <a href="/signup">Sign Up</a>
        </div>
        <div>
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
            <a href="#">Support</a>
        </div>
    </div>
    <div class="footer-right">
        <h3><i>Connect with us</i></h3>
        <div class="socials-footer">
            <a href="#"><img src="/assets/insta-icon.svg" alt="insta-icon"></a>
            <a href="#"><img src="/assets/fb-icon.svg" alt="insta-icon"></a>
            <a href="#"><img src="/assets/twitter-icon.svg" alt="insta-icon"></a>
        </div>

    </div>
</footer>
<div class="reserved">
    <p>Copyright © 2024 Team DevBrigades</p>
</div>