<!-- <div class="progressbar_wrap">
        <div class="progressbar" id="progressbar"></div>
    </div> -->
<!--/PROGRESS-->

<header>
    <!-- navbar -->
    <nav>
        <div class="nav-div">
            <a href="#" class="logo">
                <img class="logo-navbar" src="/assets/logo-2.png" alt="logo">
            </a>
            <div class="nav-pages-div">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="#signup" class="signup-btn">Sign Up</a></li>
                </ul>
            </div>

        </div>
    </nav>
</header>
<!-- <script>
        var lightbox = new SimpleLightbox('.picgallery a', {});
        var menuid = '#headnav';
        var gaptop = 135;
        var scrollspeed = 1200;
        var menu_active_class = 'active';
        function progressscroll() {
            let viewportscroll = document.body.scrollTop || document.documentElement.scrollTop;
            let scrollheight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
            let scrolled = (viewportscroll / scrollheight) * 100;
            document.getElementById("progressbar").style.width = scrolled + "%";
        }
        window.onscroll = function () {
            progressscroll();
        }; 
    </script> -->