#post-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#image-preview-container {
    margin-bottom: 20px;
}

#image-preview-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

#file-input {
    display: none;
}

#file-label {
    display: block;
    padding: 10px;
    background-color: #0866FF;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 20px;
}

#file-label:hover {
    background-color: #0866f0;
}