footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background: linear-gradient(to right, #f17945, white);
  color: black;
}

.footer-middle a {
  color: black;
  gap: 25px;
  text-decoration: none;
  margin: 5px 20px; /* Added horizontal margin */
}

.footer-middle a:hover {
  color: #f1a501;
}

.reserved {
  color: black;
  text-align: center;
  padding: 10px;
}

.footer-middle div {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
