footer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background: linear-gradient(to right, grey, #ff7439dc);
  color: black;
}
.footer-left {
  position: relative;
  left: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.footer-left img {
  width: 150px;
  height: 100px;
}
.footer-middle {
  display: flex;
  gap: 10px;
}

.footer-middle a {
  color: black;
  gap: 25px;
  text-decoration: none;
  margin: 5px 20px; /* Added horizontal margin */
}

.footer-middle a:hover {
  color: #fd4d21;
}
.footer-middle div {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.socials-footer {
  display: flex;
  margin-top: 12px;
  gap: 30px;
}
.socials-footer img {
  width: 30px;
  height: 30px;
}
.reserved {
  color: black;
  text-align: center;
  padding: 10px;
}
