.home-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background-color: #f8f9fa; */
}

.hero-container {
  padding-top: 250px;
  height: 702px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/assets/hero-background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 43.9rem;
  background: rgba(0, 0, 0, 0.7);
}

.hero-text {
  margin-top: 10%;
  margin-left: 8%;
  width: 100%;
  height: 764px;
}

.hero-subtitle {
  font-size: 1.5rem;
  font-family: Poppins, Rubik, "Open Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  color: #fd4d21;
  margin-bottom: 5px;
  position: relative;
  z-index: 1;
}

.hero-text h1 {
  font-family: "Volkhov", "DM Serif Display", cursive;
  font-weight: 700;
  color: #fff;
  margin-bottom: 5px;
  position: relative;
  font-size: 5rem;
  z-index: 1;
}

.hero-text p {
  position: absolute;
  color: #fff;
  z-index: 100;
  font-size: 1.2rem;
  font-family: Poppins, Rubik, "Open Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

.find-more-btn {
  margin-top: 20px;
  position: absolute;
  z-index: 100;
  font-size: 1.2rem;
  font-family: Poppins, Rubik, "Open Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  /* font-family: 'NotoSansGujarati'; */
  height: 50px;
  width: 180px;
  border-radius: 5px;
  border: none;
  background-color: #fd4d21;
  color: white;
  box-shadow: 0 1.25rem 2.1875rem 0 rgba(241, 165, 1, 0.15);
}

.find-more-btn:hover {
  background-color: #f17945;
  color: white;
}

.three-step-container {
  padding-top: 50px;
  /* padding-left: 150px; */
  margin-left: 8%;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center;
  align-items: center; */
  /* background-color: #f8f9fa; */
}

.three-step-container .step-text {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.step-text .step-head-text {
  margin-bottom: 20px;
}
.step-text .step-head-text h1 {
  font-size: 2.7rem;
  font-weight: bold;
}
.step-text .step-1,
.step-2,
.step-3 {
  display: flex;
}
.step-1 .step-1-text,
.step-2 .step-2-text,
.step-3 .step-3-text {
  margin-left: 20px;
  line-height: 1.2;
  /* display: flex; */
}

.step-1 .step-1-img,
.step-2 .step-2-img,
.step-3 .step-3-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  height: 55px;
  width: 55px;
}

.step-1 .step-1-img {
  background-color: #f1a501;
}
.step-2 .step-2-img {
  background-color: #f17945;
}
.step-3 .step-3-img {
  background-color: #749afc;
}

.step-1 .step-1-img img,
.step-2 .step-2-img img,
.step-3 .step-3-img img {
  height: 35px;
  width: 35px;
}

.three-step-container .step-img {
  margin-right: 30px;
  width: 100px;
  background-image: url(assets/step/bg.png);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.step-img img {
  border-radius: 20px;
  height: 168px;
  width: 300px;
}

.recent-posts {
  padding-top: 50px;
  padding-left: 8%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.recent-posts .recent-posts-head h1 {
  font-size: 2.7rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.recent-posts .recent-posts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.recent-posts-container .recent-post-1-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1.25rem 2.1875rem 0 rgb(253, 77, 33, 0.1);
}

.recent-post-1-container img {
  border-radius: 10px;
  height: 200px;
  width: 100%;
}
.recent-post-text .recent-post-readmore {
  text-decoration: underline;
  color: #f17945;
}
.recent-post-text .recent-post-readmore:hover {
  color: #ff8b60;
}

.Write-Your-Own-Blog {
  height: 30rem;
  padding-top: 50px;
  padding-left: 8%;
  width: 100%;
  display: flex;
}

.Write-Your-Own-Blog .text {
  width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Write-Your-Own-Blog .text h1 {
  font-size: 2.7rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.Write-Your-Own-Blog .text .write-blog-btn {
  margin-right: 17rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: #f17945;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: none;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  width: 50%;
}
.Write-Your-Own-Blog .text .write-blog-btn a {
  color: white;
  text-decoration: none;
}
.Write-Your-Own-Blog .blog-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Write-Your-Own-Blog .blog-img img {
  scale: 3.5;
  border-radius: 20px;
  width: 80px;
}

.animate {
  transition: all 1s;
  opacity: 0;
  transform: translateY(40px);
}

.animate.show {
  opacity: 1;
  transform: translateY(0);
}
.animate-rp {
  transition: all 1s;
  opacity: 0;
  transform: translateX(-100px);
}

.animate-rp.show {
  opacity: 1;
  transform: translateX(0);
}
