/* .hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
} */

/* .hamburger div {
  width: 2rem;
  height: 0.25rem;
  background: #333;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
} */

/* .nav-links {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #333;
  align-items: center;
  justify-content: center;
} */

/* .nav-links li {
  margin: 20px 0;
}

.nav-links a {
  color: #fff;
} */

/* Newly added css */
/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center; */
  /* padding: 0 30px; */
  /* padding-left: 10rem;
  padding-right: 4em;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 25px;
  background: transparent;
  z-index: 100;
} */
/* 
nav.scrolled {
  z-index: 100;
  background: rgba(255, 255, 255, 0.5);
} */

.logo-navbar {
  scale: 1.5;
  width: 12rem;
  position: relative;
  /* margin-left: 90px; */
}

/* nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
} */

/* nav ul li {
  display: inline-block;
  padding: 0 10px;
  line-height: 60px;
}

nav ul li a {
  margin-left: 60px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.2rem;
}
nav ul li a:hover {
  color: #f17945;
} */
/* nav ul li a.active {
  color: #f17945;
} */

.media .signup-btn {
  /* margin-right: 40px; */
  /* margin-left: 150px; */
  /* position: relative; */
  /* right: 150px; */
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: #f17945;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: none;
  outline: none;
  overflow: hidden;
  font-size: 15px;
}

.media .signup-btn .icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.media .signup-btn:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.media .signup-btn:hover .icon {
  transform: translate(4px);
}

.media .signup-btn:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.media.signup-btn::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

/* @media (max-width: 768px) {
  .nav .fas {
    display: block;
    font-size: 30px;

}
  .nav-links {
    display: flex;
  }

  .nav-links li {
    margin: 0;
  }

  .nav-links a {
    color: #fff;
  }

  nav {
    padding-left: 0;
    padding-right: 0;
  }

  nav ul {
    display: none;
  }

  nav .signup-btn {
    display: none;
  }
  
} */
