nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 25px;
  background: transparent;
  z-index: 100;
}
/* 
nav.scrolled {
  z-index: 100;
  background: rgba(255, 255, 255, 0.5);
} */

.logo-navbar {
  scale: 1.5;
  width: 12rem;
  position: relative;
  margin-left: 90px;
  margin-right: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  display: inline-block;
  padding: 0 10px;
  line-height: 60px;
}

nav ul li a {
  margin-left: 60px;
  font-weight: 500;
  color: rgb(59, 59, 59);
  text-decoration: none;
  font-size: 1.2rem;
}
nav ul li a:hover {
  color: #f17945;
}
/* nav ul li a.active {
  color: #f17945;
} */

nav .signup-btn {
  margin-right: 65px;
  margin-left: 150px;
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: #f17945;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: none;
  outline: none;
  overflow: hidden;
  font-size: 15px;
}

nav .signup-btn .icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

nav .signup-btn:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

nav .signup-btn:hover .icon {
  transform: translate(4px);
}

nav .signup-btn:hover::before {
  animation: shine 1.5s ease-out infinite;
}

nav .signup-btn::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

/* nav .signup-btn {
  border: none;
  width: 110px;
  background-color: #f17945;
  color: white;
  border-radius: 50px;
  margin-right: 65px;
  margin-left: 150px;
  padding: 5px 10px;
}

nav .signup-btn:hover {
  width: 110px;
  border: 0.5px solid black;
  background-color: white;
  color: black;
  padding: 5px 10px;
} */
