<% layout('/layouts/boilerplate.ejs') -%>
    <style>

    </style>

    <section class="hero-section">
        <div class="hero-container">
            <div class="hero-text">
                <h2 class="hero-subtitle">Share your Experiences with the World</h2>
                <h1 class="hero-title">Travel, enjoy<br>
                    and live a new <br>and full life</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Officiis aliquid, atque quis
                    distinctio
                    quasi
                    Nemo <br> recusandae pariatur quia illum nesciunt <br>
                    <button class="find-more-btn">
                        Find out More <a href="/about"></a>
                    </button>
            </div>
        </div>
    </section>

    <!-- <div class="about">
            <div class="about-left">
                <h1>About Us</h1>
                <p>
                    JourneyEase is a travel agency that provides a platform for users to book their travel tickets and hotel
                    rooms. We provide a wide range of options for our users to choose from. We also provide a platform for
                    users to share their travel experiences and reviews. We are committed to providing the best travel
                    experience to our users.
                </p>
            </div>
            <div class="right"></div>
        </div>
        
        <div class="faq">
            <div class="faq-left"></div>
            <div class="faq-right">
                <div class="faq-questions">
                    <div class="faq-question">
                        <h2>Q.What is the price of a russian girl</h2><i class="fa-solid fa-plus toggle">+</i>
                    </div>
                <div class="faq-answer">
                    <p>This is the answer to the question.
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta, eligendi velit. Ipsum,
                        voluptatem rem. Vel minus excepturi sequi voluptatibus architecto facere quasi ipsam. Delectus
                        illum, quisquam ut adipisci magni molestias!
                    </p>
                </div>
                <div class="faq-question">
                    <h2>Q.What is the price of a russian girl</h2><i class="fa-solid fa-plus toggle">+</i>
                </div>
                <div class="faq-answer">
                    <p>This is the answer to the question Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Voluptatem, velit?</p>
                </div>
                <div class="faq-question">
                    <h2>Q.What is the price of a russian girl</h2><i class="fa-solid fa-plus toggle">+</i>
                </div>
                <div class="faq-answer">
                    <p>This is the answer to the question Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Repellendus accusamus saepe facere quo neque, officiis incidunt ullam iusto consectetur
                        dignissimos odio, temporibus consequatur!</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.querySelectorAll('.toggle').forEach(item => {
            item.addEventListener('click', event => {
                const answer = event.target.parentElement.nextElementSibling;
                answer.classList.toggle('open');
            })
        })
    </script> -->
    <!-- <style>
                        .about {
                            background-image: url('/assets/About-UsBackground.png');
                            padding: 5% 10%;
                            height: 100vh;
                            background-size: cover;
                            background-position: center;
                            overflow-y: hidden;
                        }
                    
                        .about-left {
                            width: 50%;
                        }
                    
                        .about-left h1 {
                            font-size: 3rem;
                            margin-bottom: 2rem;
                        }
                    
                        .about-left p {
                            font-size: 1.5rem;
                        }
                    
                        .right {
                            width: 50%;
                        }
                    
                        /* .faq {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 5% 3%;
                            height: 100vh;
                            background-image: url('/assets/FAQ.png');
                            background-size: cover;
                            background-position: center;
                        } */
                        .faq {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 5% 3%;
                            height: 100vh;
                            background-image: url('/assets/FAQ.png');
                            background-size: cover;
                            background-position: center;
                        }
                    
                        .faq-left {
                            width: 50%;
                            /* background-image: url('/assets/FAQ.png'); */
                            background-size: cover;
                            background-position: center;
                        }
                    
                        .faq-right {
                            width: 70%;
                            /* padding: 2rem; */
                        }
                    
                        .faq-question {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            background-color: #fff;
                            padding: 1rem;
                            border-radius: 10px;
                            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                            width: 100%;
                            margin: 10px auto;
                            position: relative;
                            z-index: 1;
                        }
                    
                        .faq-question h2 {
                            font-size: 1.5rem;
                            margin-bottom: 1rem;
                            flex-grow: 1;
                        }
                    
                        .faq-question i {
                            font-size: 2rem;
                            font-weight: bold;
                        }
                    
                        .faq-answer {
                            background-color: #fff4f4;
                            display: none;
                            padding: 1rem;
                            border-radius: 10px;
                            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                            width: 80%;
                            position: relative;
                            z-index: 2;
                            width: 100%;
                            left: 0;
                            right: 0;
                            overflow: hidden;
                            transition: transform 0.5s ease;
                            transform: scaleY(0);
                            transform-origin: top;
                        }
                    
                        .faq-answer.open {
                            max-height: 500px;
                            transform: scaleY(1);
                            display: block;
                        }
                    
                        .faq-answer p {
                            font-size: 1.2rem;
                            line-height: 1.6;
                        }
                    </style> -->