<% layout('/layouts/boilerplate.ejs') -%>

<style>
  .outerbox{
    display: flex;
  }
  .inner-box {
    width: 50%;
    display: flex;  
  justify-content: space-around;
    padding: 1rem;
    background-color: aliceblue;
  }
  .img-box img{
    height: 16rem;
    width: auto;
    border-radius: 1rem;
  }
</style>

<a href="" class="m-3 btn btn-dark"> Createpost</a>
<div class="outerbox">
<div class="img-box" >
  <img src="assets/girl.jpeg" alt="" >
</div>
<div class="inner-box">

  <div class="title-box">
    <h5>Bali Trip</h5>
    <ul>
      <li>Country</li>
      <li>State</li>
      <li>Budget: &#8377; <b>500</b></li>
    </ul>
  </div>
  <div class="price-btn">
    
    <a href="" class="btn btn-primary ">Read Blog</a>
  </div>
  
</div>
</div>
