<% layout('/layouts/boilerplate.ejs') -%>
    <div class="home-cotainer">
        <div class="hero-text">

        </div>
        <div class="hero-img">
            <img src="/assets/hero-img.png" alt="hero-img">
        </div>
    </div>