<div class="home-container">
    <% layout('/layouts/boilerplate.ejs') -%>
        <div class="hero-text">
            <h2 class="hero-subtitle">Share your Experiences with the World</h2>
            <h1 class="hero-title">Travel, enjoy<br>
                and live a new <br>and full life</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis aliquid, atque quis distinctio quasi
                Nemo recusandae pariatur quia illum nesciunt aliquam aipit dolorum delectus repellat voluptates
            </p>
            <button class="find-more-btn">
                Find out More
            </button>
        </div>
        <div class="hero-img">
            <img src="/assets/hero-img.png" alt="hero-img">
        </div>
</div>">