
<% layout('/layouts/boilerplate.ejs') -%>

<div>
    <h1>devBrigades </h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, qui deleniti. Numquam fuga ipsam dolore natus, unde laborum. Illo dicta quaerat minima deleniti reprehenderit eius, labore at odio consectetur nisi.
    Est illum qui beatae nemo modi. Dolor maiores totam eius aut labore alias, excepturi nulla! Natus dignissimos mollitia laboriosam deleniti corrupti quia illum deserunt, nemo dolorum blanditiis doloribus sapiente id!
    Dolorum possimus delectus earum expedita soluta animi amet, praesentium reiciendis iste autem inventore neque ut magnam error qui adipisci perferendis repellat impedit corporis voluptatum accusantium atque nulla facere sapiente. Ipsam.
    Corporis fugiat explicabo et qui vitae reiciendis velit totam tenetur modi optio, harum voluptatem soluta sint esse sapiente nisi. Nobis quos animi delectus rerum esse recusandae possimus quis officiis mollitia.
    Numquam nesciunt minima ullam reiciendis magni ipsum explicabo optio rerum sint, facilis eligendi modi porro expedita rem vitae, temporibus nulla debitis ad? Cumque similique harum illo hic dolor numquam est!
</p>
</div>