<% layout('/layouts/boilerplate.ejs') -%>
    <div class="home-container">
        <div class="hero-container">
            <div class="hero-text">
                <h2 class="hero-subtitle">Share your Experiences with the World</h2>
                <h1 class="hero-title">Travel, enjoy<br>
                    and live a new <br>and full life</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Officiis aliquid, atque quis distinctio
                    quasi
                    Nemo <br> recusandae pariatur quia illum nesciunt <br>
                    <button class="find-more-btn">
                        Find out More
                    </button>
            </div>
        </div>
        <div class="three-step-container">
            <div class="step-text">
                <div class="step-head-text">Book Your Next Trip In 3
                    Easy Steps</div>
                <div class="step-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.861V17.14M17.14 12H6.86" />
                            <rect width="18.5" height="18.5" x="2.75" y="2.75" rx="6" />
                        </g>
                    </svg>

                </div>
                <div class="step-2">


                </div>
                <div class="step-3">



                </div>
            </div>
            <div class="step-img">

            </div>
        </div>
    </div>