<% layout('/layouts/boilerplate.ejs') -%>
    <div class="home-container">
        <section class="hero-section">
            <div class="hero-container">
                <div class="hero-text">
                    <h2 class="hero-subtitle">Share your Experiences with the World</h2>
                    <h1 class="hero-title">Travel, enjoy<br>
                        and live a new <br>and full life</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Officiis aliquid, atque quis
                        distinctio
                        quasi
                        Nemo <br> recusandae pariatur quia illum nesciunt <br>
                        <button class="find-more-btn">
                            Find out More <a href="/about"></a>
                        </button>
                </div>
            </div>
        </section>
        <section class="step-section">
            <div class="three-step-container">
                <div class="step-text">
                    <div class="step-head-text">
                        <h1>Plan Your Next Trip In<br>3
                            Easy Steps with us</h1>
                    </div>
                    <div class="step-1">
                        <div class="step-1-img">
                            <img src="/assets/step/search.svg" alt="step-1-img">
                        </div>
                        <div class="step-1-text">
                            <p><b>Choose Destination</b></p>
                            <p>Choose your favorite place. No matter <br>where you travel inside the world</p>
                        </div>
                    </div>
                    <div class="step-2">
                        <div class="step-2-img">
                            <img src="/assets/step/read.svg" alt="step-2-img">
                        </div>
                        <div class="step-2-text">
                            <p><b>Read Blogs about that Place</b></p>
                            <p>After finding your perfect spot, Plan your whole trip<br>with our specialized travel
                                blogs.</p>
                        </div>
                    </div>
                    <div class="step-3">
                        <div class="step-3-img">
                            <img src="/assets/step/suitcase.svg" alt="step-3-img">
                        </div>
                        <div class="step-3-text">
                            <p><b>Enjoy the Trip</b></p>
                            <p>Go and Enjoy the Trip with your friends and family</p>
                        </div>
                    </div>
                </div>
                <div class="step-img">
                    <img src="/assets/step/steps-img-1.jpg" alt="step-img-1">
                    <img src="/assets/step/steps-img-2.png" alt="step-img-2">
                </div>
            </div>
        </section>
    </div>