<%- include("../includes/sidebar.ejs") %>

<style>
  body {
    background-color: #3c3939;
  }
  .profile-box {
    margin-left: 25%;
    max-width: calc(100%-25%);
    position: relative;
  }

  .banner {
    position: relative;
  }

  .banner img {
    width: 100%;
    height: 300px;
    position: relative;
  }

  .user-profile {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0, 50%);
  }

  .user-profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
  }
  .user-profile h2 {
    color: white;
  }
  .user-profile h4 {
    color: white;
  }

</style>

<div class="profile-box">
  <div class="banner">
    <img src="/assets/blog-img.jpg" alt="banner-img" />
    <div class="user-profile">
      <img src="/assets/bg.png" alt="" />
      <h2><%=currUser.username%></h2>
      <h4><%=currUser.email%></h4>
    </div>
  </div>
  
  <div class="users-blog">

    
  </div>
</div>

