<% layout('/layouts/boilerplate.ejs') -%>
    <style>
        body {
            overflow: hidden;
        }

        .login-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: Arial, sans-serif;
            background: url('assets/bg.png') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .signup-form {
            width: 400px;
            height: 500px;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-top: 5rem;
        }

        .signup-form h2 {
            text-align: center;
            color: #333;
        }

        .signup-form input[type="text"],
        .signup-form input[type="password"],
        .signup-form input[type="email"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid #ddd;
        }

        .signup-form button {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .signup-form button:hover {
            background-color: #0056b3;
        }

        .password-container,
        .confirm-password-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .password-container input[type="password"],
        .confirm-password-container input[type="password"] {
            flex-grow: 1;
            margin-right: 10px;
        }

        .error {
            border: 1px solid red;
        }

        .error-message {
            color: red;
            display: none;
        }
    </style>

    <div class="login-container">
        <form  action="/user/signup" method="post" class="signup-form">
            <h2>Sign Up</h2>
            <label for="username">Username</label>
            <input id="username" name="username" type="text" placeholder="Enter your username" required>
            <label for="email">Email</label>
            <input id="email" type="email"  name="email" placeholder="Enter your email" required>
            <label for="password">Password</label>
            <div class="password-container">
                <input id="password" name="password" type="password" placeholder="Enter your password" required>
                <span id="toggle-password" class="toggle-visibility">👁️</span>
            </div>
            <label for="confirm-password">Confirm Password</label>
            <div class="confirm-password-container">
                <input id="confirm-password" name="confirm-password" type="password" placeholder="Confirm your password" required>
                <span id="toggle-confirm-password" class="toggle-visibility">👁️</span>
            </div>
            <p id="password-error" class="error-message">Passwords do not match!</p>
            <button type="submit">Sign Up</button>
            <p>Already have an account? <a href="/user/login">Login</a></p>
        </form>
    </div>

    <script>
        document.getElementById('toggle-password').addEventListener('click', function (event) {
            togglePasswordVisibility('password');
        });

        document.getElementById('toggle-confirm-password').addEventListener('click', function (event) {
            togglePasswordVisibility('confirm-password');
        });

        function togglePasswordVisibility(id) {
            var passwordInput = document.getElementById(id);
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        }

        document.querySelector('.signup-form').addEventListener('submit', function (event) {
            var password = document.querySelector('#password');
            var confirmPassword = document.querySelector('#confirm-password');
            var passwordError = document.querySelector('#password-error');

            if (password.value !== confirmPassword.value) {
                password.classList.add('error');
                confirmPassword.classList.add('error');
                passwordError.style.display = 'block';
                event.preventDefault(); // Prevent form from submitting
            } else {
                password.classList.remove('error');
                confirmPassword.classList.remove('error');
                passwordError.style.display = 'none';
            }
        });
    </script>